In [3]:
import mysql.connector
##if this cell is executed with no errors, you have the "mysql.connector" module installed.

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000202B25DE788>

In [5]:
#create a database named "vdcbose"
#If the cell code was executed with no errors, you have successfully created a database.
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE vdcbose")

DatabaseError: 1007 (HY000): Can't create database 'vdcbose'; database exists

In [6]:
"""
Check if Database Exists

You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

Return a list of your system's databases
"""

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('vdcbose',)

In [7]:
"""

You can also try to access the database when making the connection:
Example

Try connecting to the database "vdcbose":

If the database does not exist, you will get an error.
"""
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

In [8]:
"""
Python MySQL Create Table
Creating a Table

To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

If the cell code was executed with no errors, you have now successfully created a table.
"""

#Create a table named "customers":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [9]:
"""
Check if Table Exists

You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement

Return a list of your system's databases
"""

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [11]:
"""
Primary Key

When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. 
Starting at 1, and increased by one for each record.

Create primary key when creating the table

#If this cell is executed with no error, the table "customers" now has a primary key
"""

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [12]:
"""
Create primary key on an existing table: Using ALTER TABLE
"""

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [13]:
"""
Python MySQL Insert Into Table
Insert Into Table

To fill a table in MySQL, use the "INSERT INTO" statement.
Important!: Notice the statement: mydb.commit(). It is required to make the changes,
otherwise no changes are made to the table.
"""
#Insert a record in the "customers" table:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [14]:
"""
Insert Multiple Rows

To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:
Example

Fill the "customers" table with data
"""

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [16]:
"""
Get Inserted ID

You can get the id of the row you just inserted by asking the cursor object.

Note: If you insert more that one row, the id of the last inserted row is returned.
"""

#Insert one row, and return the ID:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

In [17]:
"""
Python MySQL Select From

Select From a Table

To select from a table in MySQL, use the "SELECT" statement:
Example

Note: We use the fetchall() method, which fetches all rows from the last executed statement.
"""
#Select all records from the "customers" table, and display the result:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [19]:
"""
Selecting Columns

To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):
Example
"""
#Select only the name and address columns:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [20]:
"""
Using the fetchone() Method

If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:
Example
"""
#Fetch only one row:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

In [21]:
"""
Python MySQL Where
Select With a Filter

When selecting records from a table, you can filter the selection by using the "WHERE" statement:
Example
"""
#Select record(s) where the address is "Park Lane 38": result:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38', 11)

In [22]:
"""Wildcard Characters

You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters:
Example
"""
#Select records where the address contains the word "way":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

In [23]:
"""
Prevent SQL Injection

When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:
Example
"""
#Escape query values by using the placholder %s method:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)

In [24]:
"""
Python MySQL Order By
Sort the Result

Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.
Example
"""
#Sort the result alphabetically by name: result

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:""
  print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

In [25]:
"""ORDER BY DESC

Use the DESC keyword to sort the result in a descending order.
Example
"""
#Sort the result reverse alphabetically by name

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michelle', 'Blue Village', 15)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

In [27]:
"""
Python MySQL Delete From By
Delete Record

You can delete records from an existing table by using the "DELETE FROM" statement:
Example
"""
#Delete any record where the address is "Mountain 21"


#Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made
#to the table.

#Notice the WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted. 
#If you omit the WHERE clause, all records will be deleted!


import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [28]:
"""
Prevent SQL Injection

It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:
Example
"""
#Escape values by using the placeholder %s method
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [30]:
"""
Python MySQL Update Table
Update Table

You can update existing records in a table by using the "UPDATE" statement:
Example



Important!: Notice the statement: mydb.commit(). It is required to make the changes, 
otherwise no changes are made to the table.

Notice the WHERE clause in the UPDATE syntax: The WHERE clause specifies which record or records that should be updated. 
If you omit the WHERE clause, all records will be updated!


"""
#Overwrite the address column from "Valley 345" to "Canyoun 123":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [31]:
"""
Prevent SQL Injection

It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:
Example

"""
#Escape values by using the placholder %s method

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [32]:
"""
Python MySQL Limit

Limit the Result

You can limit the number of records returned from the query, by using the "LIMIT" statement:
Example
"""
#Select the 5 first records in the "customers" table:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)

In [36]:
"""
Python MySQL Drop Table

Delete a Table

You can delete an existing table by using the "DROP TABLE" statement:
Example
"""
#Delete the table "customers":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)

#Uncomment to Drop the table
"""
mycursor = mydb.cursor()


#sql = "DROP TABLE customers"

mycursor.execute(sql) 
"""
print("Commented")

Commented

In [37]:
"""
Drop Only if Exist

If the the table you want to delete is already deleted, or for any other reason does not exist, 
you can use the IF EXISTS keyword to avoid getting an error.
Example
"""

#Delete the table "customers" if it exists:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="vdcbose",
  passwd="vdbose999",
  database="vdcbose"
)
#Uncomment to Drop the table
"""
mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql) 
"""
print("Commented")

Commented